a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

table {
    border: 2px solid gray;
}

td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
    width: 20%;
}

tr:nth-child(even) {
    background-color: rgb(180, 176, 176);
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:hover {background-color: #ddd;}

.header {
    background-color: teal;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

.form-div {
    border: 5px solid gray;
    background-color: white;
    margin-left: 27%;
    width: 45%;
}

.table-div {
    background-color: grey;
    margin-left: 32%;
    width: 37%;
}

.project-form-div {
    border: 5px solid gray;
    background-color: white;
    margin-left: 29%;
    width: 40%;
}

.project-table-div {
    background-color: grey;
    margin-left: 37%;
    width: 25%;
}