<h1 style="text-align: center;" ng-hide="ec.editBool">
    Add an Entry</h1>
<h1 style="text-align: center;" ng-show="ec.editBool">Edit an Entry</h1>
<div class="form-div">
    <form ng-submit="ec.addEntry()" style="width: 100%">
        <md-input-container style="width: 100%;">
            <label>Task</label>
            <input type="text" placeholder="What did you do?" ng-model="ec.task" required/>
        </md-input-container>
        <md-input-container style="width: 20%;">
            <label>Project</label>
            <md-select ng-model="ec.project" required>
                <md-option ng-repeat="project in ec.projectList" value="{{project.projectid}}">{{project.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container style="width: 30%;">
            <label>Date</label>
            <input type="date" ng-model="ec.date" value="2018-06-01" required/>
        </md-input-container>
        <md-input-container style="width: 15%;">
            <label>Start Time</label>
            <input type="text" placeholder="Start Time" ng-model="ec.start" required/>
        </md-input-container>
        <md-input-container style="width: 15%;">
            <label>End Time</label>
            <input type="text" placeholder="End Time" ng-model="ec.end" required/>
        </md-input-container>
        <md-input-container style="width: 15%;">
            <md-button class="md-primary md-raised" type="submit">Submit</md-button>
        </md-input-container>
    </form>
</div>
<br>
<h1 style="text-align: center;">History</h1>
<div style="text-align: center; margin-left: 1%;">
    <span><em><b>Sort By:</b></em></span>
    <md-button class="md-button md-raised" ng-click="ec.sortFunction('task')">Entry</md-button>
    <md-button class="md-button md-raised" ng-click="ec.sortFunction('project')">Project</md-button>
    <md-button class="md-button md-raised" ng-click="ec.sortFunction('date')">Date</md-button>
    <md-button class="md-button md-raised" ng-click="ec.sortFunction('time')">Time</md-button>
</div>
<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>Entry</Th>
                <th>Project</th>
                <th>Date</Th>
                <th>Time(hours:minutes)</Th>
                <th>Actions</Th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in ec.entryList | orderBy : ec.sort : ec.bool">
                <td>{{entry.task}}</td>
                <td>{{entry.name}}</td>
                <td>{{entry.date | date : 'MM/dd/yyyy'}}</td>
                <td>{{entry.hours}}:{{entry.minutes}}</td>
                <td>
                    <md-button class="md-raised" md-colors="{background: 'red'}" ng-click="ec.deleteEntry(entry)">Delete</md-button>
                    <md-button class="md-raised md-warn" ng-click="ec.editEntry(entry)">Edit</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<footer>
    <div style="height: 50px;"></div>
    <p>Made by Isaac Overlander</p>
</footer>