<h1>Manage Projects</h1>

<form ng-submit="pc.addProject(pc.projectToAdd)">
        <label >Add a Project</label>
        <br>
        <input style="width: 300px;" type="text" placeholder="Project Name" ng-model="pc.name" />
    <input type="submit" value="Submit">
</form>

<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Total hours</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in pc.projectList">
            <td>{{project.name}}</td>
            <td>hours</td>
            <td>actions</td>
        </tr>
    </tbody>
</table>