<h1 style="text-align: center;" ng-hide="pc.projectEditBool">Add Projects</h1>
<h1 style="text-align: center;" ng-show="pc.projectEditBool">Edit Projects</h1>
<div class="project-form-div" style="text-align: center;">
    <!-- Form for adding/editing projects -->
    <form ng-submit="pc.addProject()">
        <md-input-container style="width: 75%;">
            <label>Add a Project</label>
            <input style="width: 50%;" type="text" placeholder="Project Name" ng-model="pc.name" />
            <md-button class="md-primary md-raised" type="submit">Submit</md-button>
        </md-input-container>
    </form>
</div>
<h1 style="text-align: center;">Projects</h1>
<!-- Table for displaying project data -->
<div class="project-table-div">
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Total hours(hours:minutes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in pc.projectList">
                <td>{{project.name}}</td>
                <td>{{project.hours}}:{{project.minutes}}</td>
                <!-- buttons for deleting/editing projects -->
                <td>
                    <md-button class="md-raised" md-colors="{background: 'red'}" ng-click="pc.deleteProject(project)">Delete</md-button>
                    <md-button class="md-raised md-warn" ng-click="pc.editProject(project)">Edit</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>